.CartTable {
  font-family: "Poppins", sans-serif;
}

.table-container {
  margin: 1rem 0;
}

.cart-footer {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
}

.empty-cart {
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
  color: #777;
}
